<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="menu.component.css">
</head>
<body>
  <div class="white-stripe img  ">
    <img src="assets/media/Simbolo_u.png" alt="Logo">
    <div class="">
      <button href="#" class="btn btn-1" routerLink="/profesor/crear-profe" >Crear docente</button>
      <button href="#" class="btn btn-2" routerLink="/post/create">Crear asignatura</button>
      <button href="#" class="btn btn-6" routerLink="/post/index">Listar Asignaturas</button>
      <button href="#" class="btn btn-6" routerLink="/profesor/index-profe">Listar Docentes</button>
      <button href="#" class="btn btn-6" routerLink="/carga-horaria/carga-horaria">Carga Academica</button>
    </div>
  </div>
</body>
</html>