
.busqueda{
    color: #003366;
    background-color: white;
    padding: 5px 20px;
    text-align: left;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 0px;
}
.boton{
    color: white;
    background-color: #001E3B;
    text-align: center;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 0px;
}
.boton:hover{
    background-color: #0062C4;
    color: white;
}
.btn1{
    color: white;
    background-color: #0062C4;
    text-align: center;
    margin-bottom: 5px;
    padding: 10px 10px;
    border-radius: 10px;
    border: 0px;
}
.btn2{
    color: white;
    background-color: #003366;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    margin-bottom: 5px;
    padding: 10px 10px;
    border-radius: 10px;
    border: 0px;
}