/* BACKGROUND DEL FORMULARIO*/
.titulo{
    margin-bottom: 10px;
    color: white;
    margin-left: 5%;

}
.row1 {
  background-color: white;
  padding: 10px 30px;
  width: 80%; /* Reduce the width of the row */
  margin-left: 5%;
  border: 1px solid #ccc;
  border-radius: 20px;
  display: flex;

  
  flex-direction: column;
  }
  .row2 {
  width: 70%; 
  display: flex;
  flex-direction: column;
  margin-right: 5%;
  }
  .col1{    
  width: 100%;
  margin: 0 auto;
  padding: 5px 5px;
  margin-bottom: 5px;
 }
 .boton{
    text-align: center;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px 10px;
    background-color: #003366;
    border: 0px;
    color: white;
}

.boton:hover{
    background-color: #002244;
    color: white;
}
.botones{
    display: center;
    text-align: center;
}
.rowgeneral{
    display: flex;
  flex-wrap: nowrap; 
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 2%;

}
.r1{
    width: 40%;
}
.success-message {
    background-color: #dff0d8; /* Greenish background color */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    color: #3c763d; /* Dark green text color */
  }