/* BORDE DEL CONTENIDO */
.Border{
    background-color: white;
    padding: 40px 10px;
    width: 50%;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 20px;

}
/* TITULO */
.titulo{
    margin-bottom: 25px;
    color: white;
    margin-top: 30px;
    text-align: center;
}

/* BOTON VOLVER */
.boton{
    color: white;
    background-color: #003366;
    text-align: center;
    margin-left: 600px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 0px;
}
.boton:hover{
    background-color: #002244;
    color: white;
}
/* ALINEAR CONTENIDO */
.col1{
    margin-left: 50px;
    margin-top: 25px;
}
.col2{
    width:50%;
    margin: 0 auto;
}