<html>
<body>
<app-barranavegacion></app-barranavegacion>
        <div class="titulo">
     <h1>Visualizar Asignatura</h1>
         </div>
  <div class="Border">   

    <div class="col1">
        <p><strong>Codigo Asignatura: </strong>{{ post.idAsignatura }}</p>
        </div>


    <div class="col1">
        <p><strong>Nombre: </strong>{{ post.Nombre }}</p>
    </div>
   
    <div class="col1">  
        <p><strong>Tipo de Asignatura: </strong>{{ post.TipoAsignatura }}</p>
    </div>

    <div class="col1">  
        <p><strong>Cantidad de Alumnos: </strong>{{ post.NumeroAlumnos }}</p>
    </div>
   
    <div class="col1">   
        <p><strong>Horas lectivas: </strong>{{ post.Horas }}</p>
    </div>

    <div class="col1">     
        <p><strong>Estado de la asignatura: </strong>{{ post.Estado }}</p>
    </div>
    <button routerLink="/post/index" class="boton">Volver</button>
</div>
</body>
</html>