<!DOCTYPE html>
<html>

<head>
  <title>Carga Academica</title>
</head>

<body>
  <app-barranavegacion></app-barranavegacion>
  <h1 class="titulo">Carga Academica</h1>
  <div class="border">
    <form [formGroup]="form" class="container">
      <div class="column">
        <div class="form-group">
          <label for="Facultad"><strong>Facultad</strong></label>
          <select id="Facultad" class="form-control" formControlName="Facultad" (change)="onFacultadChange($event)">
            <option value="" disabled selected>Seleccione una Facultad</option>
            <option value=1>FACS</option>
            <option value=2>FAIN</option>
            <option value=3>FEDUC</option>
            <option value=4>FTEO</option>
            <option value=5>FACIJS</option>
          </select>
        </div>
        <div class="form-group" *ngIf="showCarrera">
          <label for="Carrera"><strong>Carrera</strong></label>
          <select id="Carrera" class="form-control" formControlName="Carrera" (change)="onCarreraChange($event, 'carrera')">
            <option value="" disabled selected>Seleccione una Carrera</option>
            <option *ngFor="let carrera of carreras" [value]="carrera.value">{{ carrera.label }}</option>
          </select>
        </div>
      </div>
      <div class="column">
        <div class="form-group" *ngIf="showPlan">
          <label for="Plan"><strong>Plan</strong></label>
          <select id="Plan" class="form-control" formControlName="Plan" (change)="onPlanChange($event)">
            <option value="" disabled selected>Seleccione un Plan</option>
            <option *ngFor="let Plan of planes" [value]="Plan.value">{{ Plan.label }}</option>
          </select>
        </div>
        <div class="form-group" *ngIf="showSemestre">
          <label for="Semestre"><strong>Semestre</strong></label>
          <select id="Semestre" class="form-control" formControlName="Semestre" (change)="onSemestreChange($event)">
            <option value="" disabled selected>Seleccione un Semestre</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="X">X</option>
            <option value="XI">XI</option>
          </select>
        </div>
      </div>
      <div> 
        <h2> </h2>
      </div>
    </form>

    <table class="table table-striped table-bordered">
      <thead>
        <tr>   

          <th>Asignatura Seccion</th>
          <th>Rut</th>
          <th>Nombre </th>
          <th>Horas de Planificacion (45')</th>

        </tr>
  </thead>
  <tbody>
        <tr *ngFor="let visualizarCA of filteredPosts">
          <td>{{ visualizarCA.idAsignaturaSeccion }}</td>
          <td>{{ visualizarCA.idProfesor }}</td>
          <td>{{ (visualizarCA.Nombre || 'docente no asignado' ) +" " + (visualizarCA.Apellido || '') }}</td>
          <td>{{ visualizarCA.HorasPlanificacion }}</td>
        </tr>
  </tbody>
  </table>
  </div>
</body>
</html>

<!-- 
 -->