<html>
<body>
<app-barranavegacion></app-barranavegacion>
<div class="container">
    <h1 class="titulo">Crear Asignatura</h1>
    <form [formGroup]="form" (ngSubmit)="submit()">
        

    <div class="border">
        <div class="row">  
        <div class="col21">
            <label for="Nombre"><strong>Nombre:</strong></label>
            <input 
                formControlName="Nombre"
                id="Nombre" 
                type="text" 
                class="form-control">
            <div *ngIf="f['Nombre'].touched && f['Nombre'].invalid" class="alert alert-danger">
                <div *ngIf="f['Nombre'].errors && f['Nombre'].errors['required']">Se requiere un Nombre.</div>
            </div>
        </div>

        <div class="col21">
            <label for="idPlanAcademico"><strong>Plan Academico (Numero):</strong></label>
            <input 
                formControlName="idPlanAcademico"
                id="idPlanAcademico" 
                type="text" 
                class="form-control">
            <div *ngIf="f['idPlanAcademico'].touched && f['idPlanAcademico'].invalid" class="alert alert-danger">
                <div *ngIf="f['idPlanAcademico'].errors && f['idPlanAcademico'].errors['required']">Se requiere un idPlanAcademico.</div>
            </div>
        </div>
        
        <div class="col21">
            <label for="TipoAsignatura"><strong>Tipo de Asignatura:</strong></label>
            <select 
            formControlName="TipoAsignatura"
            id="TipoAsignatura"
            class="form-control" >
            <option value="">Seleccione Opcion</option>
            <option value="Complementario"> Asignatura Complementaria</option>
            <option value="Profesional"> Asignatura Profesional</option>
            <option value="Espiritual"> Asignatura Espiritual</option>
            <option value="Electivo"> Asignatura Electiva</option>
            <option value="Disciplinar"> Asignatura Disciplinar</option>
             </select>
            <div *ngIf="f['TipoAsignatura'].touched && f['TipoAsignatura'].invalid" class="alert alert-danger">
                <div *ngIf="f['TipoAsignatura'].errors && f['TipoAsignatura'].errors['required']">Se requiere un tipo de asignatura.</div>
            </div>
        </div>
    </div> 


            
        <div class="row">

            <div class="col1"> 
                <label for="idAsignatura"><strong>Codigo de Asignatura:</strong></label>
                <input 
                    formControlName="idAsignatura"
                    id="idAsignatura" 
                    type="text" 
                    class="form-control"
                    placeholder="ABC600">
                <div *ngIf="f['idAsignatura'].touched && f['idAsignatura'].invalid" class="alert alert-danger">
                    <div *ngIf="f['idAsignatura'].errors && f['idAsignatura'].errors['required']">Se requiere un Codigo de Asignatura.</div>
                </div>
            </div> 

            <div class="col1">
            <label for="NumeroAlumnos"><strong>Numero de Alumnos:</strong></label>
            <input 
                formControlName="NumeroAlumnos"
                id="NumeroAlumnos" 
                type="text" 
                class="form-control">
            <div *ngIf="f['NumeroAlumnos'].touched && f['NumeroAlumnos'].invalid" class="alert alert-danger">
                <div *ngIf="f['NumeroAlumnos'].errors && f['NumeroAlumnos'].errors['required']">Se requiere una cantidad de alumnos.</div>
            </div>
        </div>
        

        <div class="col1">
            <label for="Horas"><strong>Cantidad de Horas Lectivas:</strong></label>
            <input 
                formControlName="Horas"
                id="Horas" 
                type="text" 
                class="form-control">
            <div *ngIf="f['Horas'].touched && f['Horas'].invalid" class="alert alert-danger">
                <div *ngIf="f['Horas'].errors && f['Horas'].errors['required']">Se requiere una cantidad de horas.</div>
            </div>
        </div>
    </div>
    <div class="linea">
        <button routerLink="/post/index" class="boton">Listar Asignaturas</button>
        <button class="boton" type="submit" [disabled]="!form.valid">Crear</button>
    </div>

</div>
        
    </form>
</div>
</body>
</html>